# Database
DATABASE_URL="postgresql://username:password@hostname:port/database?schema=public"
DIRECT_URL="postgresql://username:password@hostname:port/database?schema=public"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://zmzdttqhyqaxngrwkceg.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"

# Next.js
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000" 